crawler/
log/
dist/

/data/*
!/data/config/
!/data/weights/
/data/weights/*
!/data/weights/keep
!/data/analytics/
/data/analytics/*
!/data/analytics/keep

.vscode
.git-backup
.gocache/
.gocache-race

build-release.sh

*.exe